@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

html {
  font-size: 10px;
}

textarea, input, button {
  outline: none !important;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #F6F6F6;
}



@media screen and (max-width: 840px) {
  html { font-size: 8px; }
}
